<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.cattsmall.compra" version="1.0.0">
  <name>Compra</name>
  <description>A shopping list with a budgeting feature.</description>
  <author href="http://cattsmall.com" email="catt@cattsmall.com">Compra Team</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="universal"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="org.apache.cordova.splashscreen"/>
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="cordova-plugin-admobpro" source="npm"/>
  <icon src="favicon.png"/>

  <!-- Portrait -->
  <gap:splash src="screens/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="screens/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="screens/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="screens/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  <gap:splash src="screens/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="screens/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="screens/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="screens/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="screens/windows/screen-portrait.jpg" gap:platform="winphone"/>

  <!-- Landscape -->
  <gap:splash src="screens/android/screen-ldpi-landscape.png" gap:platform="android" gap:qualifier="land-ldpi"/>
  <gap:splash src="screens/android/screen-mdpi-landscape.png" gap:platform="android" gap:qualifier="land-mdpi"/>
  <gap:splash src="screens/android/screen-hdpi-landscape.png" gap:platform="android" gap:qualifier="land-hdpi"/>
  <gap:splash src="screens/android/screen-xhdpi-landscape.png" gap:platform="android" gap:qualifier="land-xhdpi"/>
  <gap:splash src="screens/ios/screen-iphone-landscape.png" gap:platform="ios" width="480" height="320"/>
  <gap:splash src="screens/ios/screen-iphone-landscape-2x.png" gap:platform="ios" width="960" height="640"/>
  <gap:splash src="screens/ios/screen-iphone-landscape-568h-2x.png" gap:platform="ios" width="1136" height="640"/>
  <gap:splash src="screens/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="768"/>
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>