<!doctype html>
<html lang="en" ng-app="listApp" onload="runads()">
	<head>
		<meta charset="utf-8">
		<title>Compra - A shopping list that helps you budget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description">
		<link rel="stylesheet" href="lib/stylesheets/app.css">
	  <script src="lib/scripts/angular.min.js"></script>
	  <script src="lib/scripts/controllers.js"></script>
	  <script src="lib/scripts/directives.js"></script>
	  <script src="lib/scripts/services.js"></script>
	</head>
	<body ng-controller="listCtrl">
		<section class="container list-area">
			<section class="add-new-item">
				<button class="btn btn-primary" ng-show="!addItem" ng-click="addItem = true; setCurrency(newItem);">
					<i class="ss-icon ss-standard">&#x002B;</i>
					Add to your list
				</button>
				<button class="btn btn-danger" ng-show="addItem" ng-click="addItem = false">
					<i class="ss-icon ss-standard">&#x2421;</i>
					Cancel
				</button>
        <div ng-class="{slideup: !addItem, slidedown: addItem}">
  				<form novalidate name="addForm">
  					<label>What do you want to buy?</label>
  					<input type="text" required placeholder="Enter the item's name" ng-model="newItem.name">

  					<fieldset>
  						<legend>How much do you want to spend?</legend>
  						<div class="half minimum-price">
  							<label>Min:</label>
                <span class="currencySign">{{newItem.currencySign}}</span>
  							<!-- <select ng-model="newItem.currency" ng-change="setCurrency(newItem);">
  								<option value="USD">$</option>
                  <option value="GBP">£</option>
                  <option value="EUR">€</option>
                  <option value="JPY">¥</option>
  							</select> -->
  							<input type="number" required min="0" ng-max="{{newItem.maxPrice}}" placeholder="Low price ({{newItem.currencySign}})" ng-model="newItem.minPrice">
  						</div>
  						<div class="half">
  							<label>Max:</label>
  							<input type="number" required ng-min="{{newItem.minPrice || 0}}" placeholder="High price ({{newItem.currencySign}})" ng-model="newItem.maxPrice">
  						</div>
  					</fieldset>
  					<button class="btn" ng-disabled="addForm.$invalid" ng-click="addToList(newItem); addItem = false; addForm.$setPristine();">
              <span ng-if="addForm.$invalid">
    						Fill out the above first
              </span>
              <span ng-if="!addForm.$invalid">
    						<i class="ss-icon ss-standard">&#x2713;</i>
    						Save to list
              </span>
  					</button>
  				</form>
        </div>
			</section>

			<aside class="items-total-cost">
				<h4>Total amount you'll spend:</h4>
				<p>
          {{defaultCurrencySign}}{{totalMinPrice}}
          <span ng-if="totalMinPrice != totalMaxPrice">- {{defaultCurrencySign}}{{item.currencySign}}{{totalMaxPrice}}</span>
        </p>
			</aside>
      <section class="editable-list-area">
  			<h4>You want to buy:</h4>
  			<ul class="editable-list">
  				<li ng-repeat="item in wantedItems track by $index" ng-class="{bought: item.bought, deleted: item.toRemove}" ng-click="toggleBought(item);">
            <div class="checkbox-toggle" ng-class="{selected: item.bought}"></div>
  					<h3>{{item.name}}</h3>
  					<p class="price-range">{{item.currencySign}}{{item.minPrice}} - {{item.currencySign}}{{item.maxPrice}}</p>
  				</li>
          <li class="empty-list" ng-if="boughtItems == 0 && wantedItems.length == 0">
     				<i class="ss-icon ss-standard">&#x26A0;</i>
            <p>Nothing is on your list yet.</p>
            <p>Click the button above to add your first item!</p>
          </li>
  			</ul>
      </section>

			<button class="btn btn-danger" ng-show="boughtItems > 0" ng-class="{hidden: wantedItems.length == 0}" ng-click="clearBoughtItems();">
				<i class="ss-icon ss-standard">&#xE0D0;</i>
				Remove purchased items
			</button>
		</section>
	</body>
  <script type="text/javascript">// <![CDATA[
  function runads(){
    document.addEventListener("deviceready", onDeviceReady, false);
  }

  function initAds() {
    if (AdMob) {
      var adPublisherIds = {
        android : {
          banner : "ca-app-pub-2556143574102425/1808313196",
          interstitial : "ca-app-pub-2556143574102425/1808313196"
        }
      };

      registerAdEvents();

    } else {
      alert('AdMobAds plugin not ready');
    }
  }

  function onAdLoaded(e) {
    if (e.adType === AdMob.AD_TYPE.INTERSTITIAL) {
      AdMob.showInterstitialAd();
      showNextInterstitial = setTimeout(function() {
        AdMob.requestInterstitialAd();
      }, 2 * 60 * 1000); // 2 minutes
    }
  }

  function onDeviceReady() {
    document.removeEventListener('deviceready', onDeviceReady, false);
    initAds();

    // display a banner at startup
    AdMob.createBannerView();

    // request an interstitial
    AdMob.requestInterstitialAd();
  }
// ]]></script>
</html>